@using RVEPP.Web.Frontend.Common

@model RVEPP.Web.Frontend.Database.Tables.Content

<h1 class="text-rvepp-bright">@Model.Title</h1>
<h6 class="text-rvepp-white">@Model.Created.ToLongDateString()</h6>
<div>
    @Model.Body.ToHtmlString()
</div>