@page
@model RVEPP.Web.Frontend.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-left">
    <h1 class="display-4 text-rvepp-bright">About</h1>
    <p>
        Coming soon...
    </p>
</div>

