@page

@using RVEPP.Web.Frontend.Common

@model RVEPP.Web.Frontend.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-left">
    <h1 class="display-4 text-rvepp-bright">About</h1>

    @if (Model.AboutContent is null)
    {
        <p>
            Coming soon...
        </p>
    } else
    {
        @Model.AboutContent.Body.ToHtmlString()
    }
</div>