@page
@using RVEPP.Web.Frontend.Common

@model RVEPP.Web.Frontend.Pages.DocumentationModel
@{
    ViewData["Title"] = "Documentation";
}

<div class="text-left">
    <h1 class="display-4 text-rvepp-bright">Documentation</h1>

    @if (Model.Documentation is null)
    {
        <p>
            Coming soon...
        </p>
    } else
    {
        @Model.Documentation.Body.ToHtmlString()
    }
</div>