@page
@model rvepp.web.frontend.Pages.DocumentationModel
@{
    ViewData["Title"] = "Documentation";
}

<div class="text-left">
    <h1 class="display-4 text-rvepp-bright">Documentation</h1>
    <p>
        Coming soon...
    </p>
</div>