@page
@model IndexModel
@{
    ViewData["Title"] = "Home of the first EPP for RISC-V";
}

<div class="text-left">
    <h1 class="display-4 text-rvepp-bright">RVEPP</h1>
    <p>
        Home of the first endpoint protection designed from the ground up for RISC-V.
    </p>
</div>
