@page
@model IndexModel
@{
    ViewData["Title"] = "Home of the first EPP for RISC based devices";
}

<div class="text-left">
    <h1 class="display-4 text-rvepp-bright">RVEPP</h1>
    <p>
        Home of the first endpoint protection designed from the ground up for RISC based devices such as ARM.
    </p>

    @if (Model.LatestNews is not null) {
        <div class="card bg-rvepp-bright">
            <h5 class="card-header text-rvepp-dark text-uppercase">Latest News</h5>
            <div class="card-body bg-rvepp-bright">
                <p class="card-text text-rvepp-dark">
                    @await Html.PartialAsync("_News", Model.LatestNews)
                </p>
            </div>
        </div>
    }

    @if (Model.LatestDownload is not null)
    {
        <div class="card bg-rvepp-bright">
            <h5 class="card-header text-rvepp-dark text-uppercase">Latest Download</h5>
            <div class="card-body bg-rvepp-bright">
                <p class="card-text text-rvepp-dark">
                    @await Html.PartialAsync("_Downloads", Model.LatestDownload)
                </p>
            </div>
        </div>
    }
</div>
