@page
@model rvepp.web.frontend.Pages.NewsModel
@{
    ViewData["Title"] = "News";
}

<div class="text-left">
    <h1 class="display-4 text-rvepp-bright">News</h1>
    <p>
        Coming soon...
    </p>
</div>
