@page
@model RVEPP.Web.Frontend.Pages.NewsModel
@{
    ViewData["Title"] = "News";
}

<div class="text-left">
    <h1 class="display-4 text-rvepp-bright text-uppercase">News</h1>

    @if (Model.NewsPosts is null || Model.NewsPosts.Count == 0)
    {
        <p>
            Coming soon...
        </p>
    } else
    {
        @foreach (var post in Model.NewsPosts)
        {
            <div class="card-body bg-rvepp-bright rounded card-padding">
                @await Html.PartialAsync("_News", post)
            </div>
        }
    }
</div>