:root {
    --dark-text-color: #003262;
    --bright-text-color: #FDB515;

    --dark-bg-color: #003262;
    --bright-bg-color: #FDB515;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a { 
    text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

footer {
    background-color: var(--bright-bg-color);
    color: var(--dark-text-color);
    text-align: center;
    font-size: x-small;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: var(--dark-bg-color);    
    color: white;
}

.bg-rvepp-bright {
    background-color: var(--bright-bg-color) !important;
}

.bg-rvepp-dark {
    background-color: var(--dark-bg-color) !important;
}

.text-rvepp-dark {
    color: var(--dark-text-color);
    font-weight: bold;
}

.text-rvepp-bright {
    color: var(--bright-text-color);
    font-weight: bold;
}

a:hover {
    color: white;
}